%h3 Lendings

%table.table.table-condensed
  %thead
    %tr
      %th User
      %th Book
      %th Started at
      %th Finished at
      %th
      %th
      -#%th

  %tbody
    - @lendings.each do |lending|
      %tr
        %td= lending.user.name
        %td= lending.book.title
        %td= lending.started_at
        %td= lending.finished_at
        %td= link_to 'Show', lending, :class => 'btn btn-mini'
        %td= link_to 'Edit', edit_lending_path(lending), :class => 'btn btn-mini' if current_user.has_role? :admin
        -#%td= link_to 'Destroy', lending, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini'

- # TODO nem biztos, hogy erre itt szükség lesz
- #= link_to 'New Lending', new_lending_path, :class => 'btn btn-mini'
